doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src='socket.io/socket.io.js')
    script(src='lib/angular.min.js')
    script(src='lib/angular-route.min.js')
  body(ng-app='app', ng-controller='ctrl')
    .page
      header
        h1= title

      block content

