extends layout

block content
  script(src='/lib/angular.min.js')
  .app(ng-app="app")
    .container(ng-controller="ctrl")
      .row
        .col-md-4
        .col-md-4
          form
            .form-group
              label(for="email") email address:
              input(type="text" id="email" ng-model="user.email" name="email").form-control
              p {{ 'Your email address is ' + user.email }}
            .form-group
              label(for="password") password:
              input(type="password" id="password" ng-model="user.password" name="password").form-control
            button(type="submit").btn.btn-default Login
        .col-md-1
        .col-md-3
          p Sample passwords
            ul
              li(ng-repeat="samplePassword in samplePasswords") {{samplePassword}}
  script(src='/js/ng.js')
