body {
  padding: 50px;
}

.page {
  margin: auto;
  background-image: url(/img/confectionary.png);
  padding: 2%;
}

header {
  width: 80%;
  margin: auto;
  text-align: center;
}

body {
  margin: auto;
  width: 30%;
}

ol, .form {
  margin: auto;
  width: 70%;
  padding: 3%;
}