body {
  padding: 50px;
}

.page {
  margin: auto;
  background-image: url(/img/confectionary.png);
}

header {
  width: 80%;
  margin: auto;
  text-align: center;
}

.app {
  margin: auto;
  width: 30%;
}
